#submit {
  background: none;
  color: grey;
  border: 1.5px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#submit:hover {
  border-color: crimson;
  color: black;
  box-shadow: 0 0.5em 0.5em -0.4em darkcyan;
  transform: translateY(-0.25em);
  cursor: pointer;
}

h1 {
  text-align: center;
}

#description {
  text-align: center;
}

/* I want to center the form, throw in some margins, and some sort of background*/
