#submit {
  background: none;
  color: grey;
  border: 1.5px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#submit:hover {
  border-color: crimson;
  color: black;
  box-shadow: 0 0.5em 0.5em -0.4em darkcyan;
  transform: translateY(-0.25em);
  cursor: pointer;
}

h1 {
  text-align: center;
}

#description {
  text-align: center;
}

.custom-centered {
  margin: 0 auto;
  width: 300px;
}

body {
  background-color: lightgrey;
}

input[type="text"] {
  width: 300px;
}

input[type="email"] {
  width: 300px;
}

input[type="number"] {
  width: 300px;
}

#dropdown {
  width: 150px;
}

#name-container {
  padding-bottom: 20px;
}

#email-container {
  padding-bottom: 20px;
}

#number-container {
  padding-bottom: 20px;
}

#dog-container {
  padding-bottom: 20px;
}

#gender-container {
  padding-bottom: 20px;
}

/* I want to center the form, throw in some margins, and some sort of background*/
